/* You can add global styles to this file, and also import other style files */
/*This css for Conference room lookup view*/

.room-lookup-header {
    display: inline-block;
}

.login-info {
    padding: 30px 0;
}

.room-lookup {
    margin-top: 30px;
}

.right-box {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 20px;
}

.input-width {
    width: 280px;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 11px;
}

.data-input {
    padding: 0 8px 2px 8px;
}

.floor {
    width: 107px;
    display: inline-block;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.optional {
    color: #BBBBBB;
    font-size: 11px;
}

.search-btn {
    width: 69px;
    color: #fff;
    background-color: #3384FB;
}

.control-label {
    font-weight: normal;
    vertical-align: middle;
    line-height: 12px;
}

.seat-available, .amenities-available, .specific-time {
    font-size: 11px;
}

.error-massage-info{
  color: red;
  padding-left: 15px;
  position: absolute;
  font-style: italic;
  font-size: 14px;
}

/*This css for search result view*/

.searchResults, .single-room-search{
    border-top: #ccc solid 1px;
    margin: 20px;
    padding-top: 60px;
}

.single-room-search .table td:first-child{
  width: 10% !important;
}
.single-room-search .table td:last-child{
  width: 90% !important;
}

.searchResultBuilding {
    display: inline-block;
    font-size: 24px;
}

.matchingSearch {
    width: 600px;
    float: right;
}

.previous {
    display: inline-block;
}

span a:hover {
    text-decoration: none;
}

.whiteSpace {
    padding-right: 20px;
}

.roomsName {
    width: 400px;
}

.roomsNameList {
    list-style-type: none;
    line-height: 25px;
    padding-left: 0px;
}




.roomsNameList li {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.not-Found {
    text-align: center;
    padding: 40px 0px;
}

.busy {
    background-color: #ddd;
    height: 30px !important;
    border-bottom: none !important;
}
.busy-center{
  /*position: absolute;
  display: inline-block;
  float: left;
  width: 50%;*/
}

.free{
    display: block !important;
    text-decoration: none !important;
    min-height: 30px;
    color: #fff;
    z-index: 500;

}

.free:hover {
    cursor: pointer;

}

div.gridData, div.gridHeader {
    white-space: nowrap;
}

div.gridHeader div {
   width: 100px !important;
display: inline-block;
border-right: 1px solid #ddd;
text-align: center;
height: 25px;

}

div.gridData .cells {
    height: 30px;
    width: 25px !important;
    display: inline-block;
    border-right: 1px solid #ccc;
    position: relative;
   }

div.gridData div:nth-child(4n) {
    border-right: 1px solid #ddd;
}

.time-range {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    width: 14.2%;
}

.resultRoomsName {
    padding-top: 5px;
}

.search-result-footer {
      border-top: solid #ccc 1px;
	   bottom: 0 !important;
     margin-top: 200px;
}

.search-result-footer p {
    padding-top: 20px;
}

.resultRoomsName:hover {
    text-decoration-line: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
    border-bottom: 1px solid #ddd;
    padding: 0px;
    vertical-align: middle;
}


/* First column fixed css */

[fixed-first-column] {
    position: relative
}

[fixed-first-column]>.table-responsive {
    margin-left: 400px;
    z-index: 50;

}
.table-responsive{
    overflow: hidden;
    overflow-x: scroll;
    z-index: 30;
}

[fixed-first-column]>.table-responsive .table {
    padding: 0;
    margin-bottom: 0px;
}

[fixed-first-column]>.table-responsive .table>thead>tr>td:first-child, [fixed-first-column]>.table-responsive .table>tbody>tr>td:first-child, [fixed-first-column]>.table-responsive .table>thead>tr>th:first-child, [fixed-first-column]>.table-responsive .table>tbody>tr>th:first-child {
    position: absolute;
    min-width: 400px;
    width: 400px;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    left: 0;
    top: auto;
    padding: 5px 8px !important;
}

.grid-room-name {
    color: #3384FB;
    display: inline-block;
font-size: 13px;
max-width: 349px !important;
width: 349px !important;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
line-height: 1.2;
margin-left: 10px !important;
cursor: pointer;
}

.info-icon {
    border-radius: 100%;
    border: 1px solid #0c84db;
    background: #fff;
    color: #0c84db;
    cursor: pointer;
    display: inline-block;
    font-family: "Georgia";
    font-size: 11px;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.25;
    height: 15px;
    position: relative;
    text-align: center;
    width: 15px;
}

.searchResults .row div button, .not-Found p a {
    color: #3384FB;
    text-decoration: inherit !important;
}


/*popover css*/

.popover {
    max-width: 420px !important;
    top: 28px;
    /* left: 174px !important;*/
}

.legend-info-popover {
    width: 420px !important;
}

.legend-details {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.text-color {
    color: #3384fb;
}

.white-box, .gray-box, .blue-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.white-box {
    background-color: #fff;
}

.gray-box {
    background-color: #ccc;
}

.blue-box {
    background-color: #3384fb;
    border: 1px solid #3384fb!important;
}

.color-indicate {
    margin-top: 15px;
}

.color-indicate span {
    margin-right: 5px;
}

.color-indicate strong {
    margin-right: 10px;
    vertical-align: 5px;
}


/*end popover css*/


/* single room search*/

.sr-img {
    padding-left: 7px;
}

.sr-time {
    width: 10%;
    display: inline-block;
    text-align: center;
}

.sr-booked {
    display: inline-block;
    width: 90%;
    padding-right: 10px;
    text-align: left !important;
}
.booked-time-line{
    border-left: 1px solid #ccc;
    text-align: center;
    /*padding-left: 41px;*/
}
.booked-by-line{
    border-right: 1px solid rgb(204, 204, 204);
    padding-left: 34px;
    text-align: center;
}
.align-time{
    text-align: center;
}

.border-line {
    border-bottom: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    text-align: center;
}

.nearbyBuilding {
    color: #3384FB;
    cursor: pointer;
}

.sr-header {
    padding-bottom: 20px;
    margin-right: -18px;
}

.info-image {
    padding-right: 20px;
}

.ScrollStyle {
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid rgb(204, 204, 204);
    margin-top: 20px;
}

.ScrollStyle table tbody tr td.free:hover {
    cursor: pointer;
    background-color: #dbeaff;
}

.divider {
    width: 100%;
    margin-top: 40px;
}

.divider-text {
    width: 1px;
    padding: 0 10px;
    white-space: nowrap;
}

.no-result-found {
    text-align: center;
}

.highlight-free-slot {
     background-color: #dbeaff !important;
}

.selected-free-slot{
    background-color: #3487fa !important;
}

.sr-booked span:first-child {
    padding-left: 44px;
}

.sr-booked span:last-child {
    padding-right: 44px;
}

#first-tr, #first-th{
  height: 30px !important;
}

.header-hours {
   display:inline-block;
}
.span3 {

}

.loader{
padding: 30px;
background: url('../src/images/load.gif') center center no-repeat transparent;
}


/*css for tooltip popover*/

.book-room{
    width: 250px !important;
    z-index: 500;
    position: absolute;

}
.scroll-popover-fix{

position:relative;
}
.reservation-complete{
    text-align: center;
    font-weight: bold;
}

