

<section class="container">
   <h1 class="room-lookup-header">Conference Room Lookup</h1>
   <div class="login-info pull-right">Welcome Ketan <i class="btn-xs glyphicon glyphicon-menu-down"></i></div>
   <div class="row room-lookup">
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
         <form class="form-horizontal" name="lookupRoomForm" id="lookupRoomForm">
            <div class="form-group">
               <label for="site" class="col-sm-2 col-md-2 col-lg-2 control-label">Site</label>
               <div class="col-md-6 col-lg-8">
                  <select id="site" class="input-width" ng-change="loadBuilding(lookupRoom.campusName)" ng-model="lookupRoom.campusName">
                     <option value="">Select Site</option>
                     <optgroup ng-repeat="region in siteOptions" label="{{region.regionName}}">
                        <option ng-repeat="campus in region.campus" value="{{campus}}">{{campus}}</option>
                     </optgroup>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label for="building" class="col-sm-2 col-md-2 col-lg-2 control-label">Building</label>
               <div class="col-md-6 col-lg-8">
                  <select id="building" class="input-width" ng-disabled="!lookupRoom.campusName" ng-change="loadFloorsAndRooms(lookupRoom.buildingName)" ng-model="lookupRoom.buildingName" required>
                     <option value="">Select Building</option>
                     <option ng-repeat="building in buildingOptions" value="{{building}}">{{building}}</option>
                  </select>
               </div>
            </div>
            <div class="form-group" ng-if="floorOptions.length">
               <label for="floor" class="col-sm-2 col-md-2 col-lg-2 control-label">Floor</label>
               <div class="col-md-6 col-lg-8">
                  <select id="floor" class="floor specific-time" ng-model="lookupRoom.floorNumber" ng-change="changeFloor(lookupRoom.floorNumber)">
                     <option value="">Select Floor</option>
                     <option ng-repeat="floorNumber in floorOptions | orderBy" value="{{floorNumber}}">{{floorNumber}}</option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label for="room" class="col-sm-2 col-md-2 col-lg-2 control-label">Room</label>
               <div class="col-md-6 col-lg-8">
                  <select id="room" class="input-width " ng-model="lookupRoom.room" ng-disabled="!lookupRoom.buildingName" ng-change="availableSeatsAndAmenities(lookupRoom.room)" ng-options="room.roomName for room in roomOptions">
                     <option value="">Select Room</option>
                  </select>
                  <div class="checkbox">
                     <label>
                     <input type="checkbox" ng-model="lookupRoom.unavailable" ng-true-value="1" ng-false-value="0"> <span class="optional"> Include Unavailable Rooms</span>
                     </label>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="date" class="col-sm-2 col-md-2 col-lg-2 control-label">Date</label>
               <div class="col-md-6 col-lg-8">
                  <input id="date" type="text" datepickerMode class="input-width form-control data-input" ng-click="open2()" uib-datepicker-popup="EEEE, MMMM dd, yyyy" ng-model="lookupRoom.date" 
                     is-open="popup2.opened" datepicker-options="dateOptions" required close-text="Close"/>
               </div>
            </div>
            <div class="form-group">
               <label for="timeRange" class="control-label col-sm-2 col-md-2 col-lg-2">
                  Time Range
                  <div class="optional">Optional</div>
               </label>
               <div class="col-md-6 col-lg-8">
                  <select id="timeRange" class="input-width" ng-change="changeTimeRange(lookupRoom.timeRange)" ng-model="lookupRoom.timeRange">
                     <option value="">Select Time Range</option>
                     <option value="0" ng-selected=true>AnyTime</option>
                     <option value="1">Moring (9:00 AM - 12:00 PM) </option>
                     <option value="2">Afternoon (1:00 PM - 5:00 PM) </option>
                     <option value="3">Specific Time</option>
                  </select>
               </div>
               <div class="col-md-6 col-lg-8 " ng-if="specificTime">
                  <label for="from" class="control-label">From:</label>
                  <select id="from" class=" floor specific-time" ng-model="lookupRoom.fromTime" ng-change="changeSpecificFromTime(lookupRoom.timeRange, lookupRoom.fromTime)" ng-required="specificTime" ng-options="fromTime.name for fromTime in timeFrom">
                     <option value="">Select...</option>
                  </select>
                  <label for="to" class="control-label">To:</label>
                  <select id="to" class=" floor specific-time" ng-disabled="!lookupRoom.fromTime" ng-change="changeSpecificToTime()" ng-model="lookupRoom.toTime" ng-required="specificTime">
                     <option value="" ng-selected="true">Select...</option>
                     <option ng-repeat="toTime in timeTo" value="{{toTime.value}}" ng-disabled="$index < timeFrom.indexOf(lookupRoom.fromTime)">{{toTime.name}}</option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label for="duration" class="control-label col-sm-2 col-md-2 col-lg-2">
                  Duration
                  <div class="optional">Optional</div>
               </label>
               <div class="col-md-6 col-lg-8">
                  <select id="duration" class="input-width " ng-model="lookupRoom.duration" ng-options="dur.name for dur in durationTime">
                     <option value="">Selection Duration</option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-2 col-md-2 col-lg-2">
                  Seats
                  <div class="optional">Optional</div>
               </label>
               <div class="col-md-6 col-lg-8">
                  <label class="checkbox-inline" for="seats_{{$index}}" ng-repeat="seat in seats">
                  <input type="checkbox" ng-click="filterRoom()" id="seat_{{$index}}" name="seat_{{$index}}" ng-model="lookupRoom.seats[seat.size]" value="{{seat.checked}}" 
                  ng-disabled="!seat.disable || !lookupRoom.buildingName"><span class="seat-available">{{seat.label}}</span>
                  </label>
               </div>
            </div>
            <div class="form-group">
               <div class="">
                  <label for="amenities" class="control-label col-sm-2 col-md-2 col-lg-2">
                     Amenities
                     <div class="optional">Optional</div>
                  </label>
               </div>
               <div id="amenities" class="col-md-6 col-lg-8">
                  <label class="checkbox-inline" for="amenity_{{$index}}" ng-repeat="amenity in amenities">
                  <input type="checkbox" name="amenity_{{$index}}" id="amenity_{{$index}}"  ng-model="lookupRoom.amenities[amenity.label]" ng-click="filterRoom()" 
                  ng-disabled="!amenity.disable || !lookupRoom.buildingName"><span class="amenities-available"> {{amenity.label}}</span>
                  </label>
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-2 col-md-6 col-lg-8">
                  <button type="submit" ng-click="searchResult()" ng-disabled="lookupRoomForm.$invalid || filterRm.flag" class="btn btn-sm search-btn">Search</button>
                  <span class="error-massage-info" ng-if="filterRm.flag && lookupRoom.buildingName">No Rooms available, based on your selection of Seats and Amenities.</span>
               </div>
            </div>
         </form>
      </section>
      <section class="col-xs-6 col-md-6 col-lg-4">
         <div class="right-box">
            <h4>
               Find and reserve an available conference room
            </h4>
            <p class="">
               Book a conference room here and then complete the reservation in Calendar on your Mac. If a room you need is already booked, use this tool to email the meeting organizer.
            </p>
            <p>
               Need help? Get <a href="#">step-by-step instructions</a> on how to use this tool.
            </p>
         </div>
      </section>
   </div>
   <div style="text-align: center;" class="loader-image">
      <span class="loader" ng-if="inputData.loader"></span>
   </div>
   <footer class="search-result-footer">
      <p>Copyright Apple, Inc. All rights reserved.</p>
   </footer>
</section>

